/* Amenity Card Hover */
.amenity-card {
  border: 1px solid #f1f5f9;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.amenity-card:hover {
  border-color: #cbd5e1;
  box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.08) !important;
  transform: translateY(-5px); /* කාඩ් එක උඩට එනවා */
}

/* අයිකන් එක තියෙන රවුම Hover වෙද්දී පාට මාරු වෙනවා */
.amenity-icon-box {
  transition: all 0.3s ease;
}
.amenity-card:hover .amenity-icon-box {
  background-color: #0f172a !important; 
  color: white !important;
}
.amenity-card:hover .amenity-icon-box svg {
  color: white !important; /* Icon එක සුදු පාට වෙනවා */
}